nav {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    width: 200px;
    justify-content: space-around;
  }
  .links {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
  .links:hover {
    color: red;
  }
}
.btn-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
input[type="file"] {
  display: none;
}
.image-section {
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
  overflow: scroll;
  height: 90vh;
}
.accordion-button::after {
  display: none !important;
}

.accordion-button:not(.collapsed) {
  color: black !important;
}

.edit-data-outer-section {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0px;
  z-index: 1;
  display: none;
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 0.1);

  .edit-data-section {
    height: 600px;
    width: 500px;
    background-color: white;
    border: 1px solid black;
    transform: translate(100%, 10%);
  }
}

.show {
  display: block;
}

::-webkit-scrollbar{
  display: none;
}